@font-face {
  font-family: 'LotteMartDreamMedium';
  src: url(font/12LotteMartDreamMedium.woff) format('truetype');
  }
@font-face {
  font-family: 'LotteMartDreamLight';
  src: url(font/12LotteMartDreamLight.woff) format('truetype');
  }
